<div id="editor-column" style="display:none;">
       <div class="header">
         <h4>Stark Code Editor</h4>
       </div>
<div class="ui top attached tabular menu" style="min-height:1em; border-bottom:0">
  <a class="active tabitem" data-tab="first">hello.c <div class="savestate"></div>
  <paper-ripple fit></paper-ripple>
  </a>
  <a class="tabitem" data-tab="second">Second
  <paper-ripple fit></paper-ripple>
  </a>
  <a class="tabitem" data-tab="third">Third
  <paper-ripple fit></paper-ripple>
  </a>
</div>

<div class="ui bottom attached active tab segment editor-tab" data-tab="first">
       <div class="editor">/* Blinking LED
 * ------------
 *
 * turns on and off a light emitting diode(LED)
 * connected to a digital pin, in intervals
 * of 2 seconds. Ideally we use pin 13 on
 * the Arduino board because it has a resistor
 * attached to it, needing only an LED
 */

int ledPin = 13; // LED connected to digital pin 13

void setup()
{
  pinMode(ledPin, OUTPUT); // sets the digital pin as output
}

void loop()
{
  digitalWrite(ledPin, HIGH);   // sets the LED on
  delay(1000);                  // waits for a second
  digitalWrite(ledPin, LOW);    // sets the LED off
  delay(1000);                  // waits for a second
}
        </div>
</div>
<div class="ui bottom attached tab segment editor-tab" data-tab="second">
       <div class="editor">
/* Blinking LED
 * ------------
 *
 * turns on and off a light emitting diode(LED)
 * connected to a digital pin, in intervals
 * of 2 seconds. Ideally we use pin 13 on
 * the Arduino board because it has a resistor
 * attached to it, needing only an LED
 */

int ledPin = 13; // LED connected to digital pin 13

void setup()
{
  pinMode(ledPin, OUTPUT); // sets the digital pin as output
}

void loop()
{
  digitalWrite(ledPin, HIGH);   // sets the LED on
  delay(1000);                  // waits for a second
  digitalWrite(ledPin, LOW);    // sets the LED off
  delay(1000);                  // waits for a second
}
        </div>
</div>
<div class="ui bottom attached tab segment editor-tab" data-tab="third">
       <div class="editor">
/* Blinking LED
 * ------------
 *
 * turns on and off a light emitting diode(LED)
 * connected to a digital pin, in intervals
 * of 2 seconds. Ideally we use pin 13 on
 * the Arduino board because it has a resistor
 * attached to it, needing only an LED
 */

int ledPin = 13; // LED connected to digital pin 13

void setup()
{
  pinMode(ledPin, OUTPUT); // sets the digital pin as output
}

void loop()
{
  digitalWrite(ledPin, HIGH);   // sets the LED on
  delay(1000);                  // waits for a second
  digitalWrite(ledPin, LOW);    // sets the LED off
  delay(1000);                  // waits for a second
}
        </div>
</div>



  <div class="row controls" style="margin-left:20px; text-align:right">

  <div class="stark-button verify-code">
    <span>Push to Device
      <paper-ripple fit></paper-ripple>
    </span>
  </div>
  <div class="stark-button-blue">
    <span>Verify Code
    <paper-ripple fit></paper-ripple>
    </span>

  </div>
</div>
<div class="debugger"></div>

    </div>