<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Stark | Welcome</title>


<link rel="stylesheet" href="base.css">

<link rel="stylesheet" href="bower_components/animate.css/animate.css">

<link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.css"/>
<link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">

</head>
<script src="bower_components/snap.svg/dist/snap.svg-min.js"></script>
<script src="bower_components/bounce.js/bounce.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/animateCSS/dist/jquery.animatecss.js"></script>
<script src="bower_components/semantic-ui/dist/semantic.js"></script>
<script src="bower_components/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="timeline.js"></script>
<script src="code_editor.js"></script>
<style>
  

</style>

<script>

$(document).ready(function(){
  var steps = {
      "Introduction":true, 
      "Gather Required Tools":false, 
      "Connecting the Arduino":false, 
      "Quiz Aduino Basics":false
  }
  var timeline = new Timeline(steps);
  var custom_step_functions = {
    0 : function() {},
    1 : function() {
      //extra animation

      $('#course-menu').css({display:"block"});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:0,
        from: { x: 0, y: -100},
        to: { x: 0, y: 0 },
      }).applyTo($('#course-menu')); 
     
    },
    2: function() {
      $('.progress-column').css({display:"block"});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:0,
        from: { x: -200, y: 0},
        to: { x: 0, y: 0 },
      }).applyTo($('.progress-column')); 
    },
    3: function() {
      
      $('.content-container').toggleClass('initial');
      $('#editor-column').css({display:"block"});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:0,
        from: { x: 300, y: 0},
        to: { x: 0, y: 0 },
      }).applyTo($('#editor-column')); 
    }

  }
  var current_step = 1
  var go_to_next = function(current_step, next_step) {
    var $current_step = $(".card-container[data-step='" + current_step + "']");
    var $next_step = $(".card-container[data-step='" + next_step + "']");
    $current_step.find(".stark-card").toggleClass('completed');


    //animation
    timeline.nextStep();
    //create space (->block)
    $next_step.css({opacity:0, display:"block"});
    //scroll down, with newly created space
    console.log( $(".course-content")[0].scrollHeight)
    console.log($next_step.offset().top)
    $(".course-content").animate({scrollTop: $(".course-content")[0].scrollHeight - ($next_step.outerHeight(true))}, 600);
    //show new card
    setTimeout(
      function(){
        new Bounce().scale({
          delay:0,
          duration:1500,
          bounces:10,
          from: { x: 0.7, y: 0.7},
          to: { x: 1, y: 1 },
        }).applyTo($next_step.find('.stark-card')); 
        $next_step.css({opacity:1});

        if(custom_step_functions[next_step])
          custom_step_functions[next_step]();
      }, 400);


  }

  $('.stark-card.instruction .next-step').on('click',function() {
    $(this).toggleClass('disabled');
    var current_step = parseInt($(this).closest('.card-container').data('step'));
    var next_step = current_step + 1;
    
    go_to_next(current_step, next_step);
  });

  $('.stark-card.question .next-step').on('click',function() {
    var $current_card = $(this).closest('.card-container')
    var current_step = parseInt($current_card.data('step'));
    var next_step = current_step + 1;
    
    var $checked = $current_card.find('.ui.form input:checked');

    if($checked.length == 0) {
      var $hint = $current_card.find('.hint');
      $hint.css({display:"block", opacity:0});
      $hint.animateCSS('flipInX', {delay: 500});
       
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:10,
        from: { x: 0, y: -50},
        to: { x: 0, y: 0 },
      }).applyTo($hint); 
      $hint.css({opacity:1});
      go_to_next(current_step, next_step);
    }
    else {
      alert('yay');
    }
  });



});


</script>


<body>


  <div class="progress-column" style="display:none;">
    <a class="item user-profile">
      <div class="ui circular image">
         <img src="http://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
     <div class="stat ui middle aligned content ">
       <h5>
         <span>Mathew</span>
       </h5>
       <h6>
         Level 1
       </h6>
      <div class="level" ><div class="progress"></div></div>
     </div>
      
    </a>
    <svg id="timeline" width="300px" height="600px"></svg>

  </div>

  <div id="course-menu" style="display:none;">
   <div class="course-tags">
    <a class="ui teal label">
      <i class="ui icon idea"></i>
      Difficulty
      <div class="detail">Beginner</div>
    </a>
    <a class="ui teal label">
      <i class="ui icon setting"></i>
      Hardware
      <div class="detail">Arduino</div>
    </a>
    <a class="ui teal label">
      <i class="ui icon wait"></i>
      Duration
      <div class="detail">10 min</div>
    </a>
    </div>

    <div class="course-details">


        <h4>Introduction to Stark</h4>
        <h2>Blinking an LED </h2>
    </div>
  </div>
    

      

    
  </div>
  <div class="content-container initial">


<!--
<div data-tutorial="1" class="steps row">  
  <h1 class="instructions">Welcome to the Stark Tutorial</h1>
  <div class="ui button basic teal next-step" data-step="2">I'm ready to start
    <i class="ui icon caret right"></i></div>
</div>-->


<div data-tutorial="2" class="steps row">  


  <div class="course-content">
    <div class="card-container" data-step="0">
      <div class="stark-card instruction">

        <h1>Hey there!</h1>
        <p><span class="drop-cap">W</span>elcome to Stark! This is a <b>Stark Card</b>. This is our nifty tool that teachers will use to provide you with <i>digestible</i> chunks of information.</p>
        <div class="ui basic teal button next-step"> Gotcha!</div>

      </div>
  
    </div>
    
    <div class="card-container" data-step="1" style="display:none">
      <div class="stark-card instruction" >
        
        <p><span class="drop-cap">T</span>he view on your left consists of your profile. Click the toggle button on your left to continue.
        </p>
        <p>
          We also display 
        </p>
        <div class="ui basic teal button next-step"> Gotcha!</div>
      </div>
    </div>
    
    <div class="card-container" data-step="2" style="display:none">
      <div class="stark-card instruction">
        <h2>Welcome</h2>
        <p>Welcome to Stark! This is a stark card. This is our nifty tool for that teachers will use to provide you with digestible chunks of information.</p>
        <div class="ui basic teal button next-step"> Gotcha!</div>
      </div>
    </div>
    
    <div class="card-container" data-step="3" style="display:none">
      <div class="stark-card question">

        <h2>Quiz Arduino Basics</h2>
        <span class="ui label points right teal">+200</span>
        <p>If you answer the following questions 4+4 is:</p>
        <div class="ui segment form basic clearing">

           <div class="ui radio checkbox"><input type="radio" name="radio">
              <label>8</label>
            </div>


            <div class="ui radio checkbox"><input type="radio" name="radio">

              <label>8</label>
            </div>
            <div class="ui radio checkbox"><input type="radio" name="radio">
              <label>3</label>
            </div>
            <div class="ui radio checkbox"><input type="radio" name="radio">
              <label>5</label>
            </div>
        </div>
        <div class="ui basic teal button next-step"> Submit</div>
          
      </div>
      <div class="hint" style="display:none">
          Select an answer and try again!
      <div class="ui button">
        <i class="checkmark icon"></i>
        Yes
      </div>
      </div>
    </div>
    
    <div style="height:400px; width:100%">
    </div>
  </div>
</div>


</div>
<%= erb (:'partials/code_editor') %>
</body>
</html>
